{
    "extends": [
        "prettier",
        "prettier/flowtype"
    ],
    "plugins": [
        "prettier"
  ],
  "parserOptions": {
    "sourceType": "module"
  },
  "env": {
        "browser": true
    }
}