.megamenu {
}

.megamenu__item {
    display: inline-block;
    position: relative;
    vertical-align: middle;
}

.megamenu__item + .megamenu__item {
    margin-left: 1rem;
}

.megamenu__trigger-arrow {
    display: inline-block;
    position: relative;
    width: 24px;
    height: 12px;
}

.megamenu__trigger-arrow::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 4px;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(45deg);
}

.megamenu__item-trigger--active .megamenu__trigger-arrow::before {
    transform: rotate(-45deg);
}

.megamenu__trigger-arrow::after {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    right: 4px;
    width: 10px;
    height: 2px;
    background-color: currentColor;
    transform: rotate(-45deg);
}

.megamenu__item-trigger--active .megamenu__trigger-arrow::after {
    transform: rotate(45deg);
}

.megamenu__panel {
    display: none;
    position: absolute;
    left: 0;
    top: 2.25rem;
    z-index: 1;
    padding: 1rem;
    min-width: 17rem;
    background-color: var(--color-white);
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    box-shadow: 0 14px 36px 2px rgba(0, 0, 0, 0.15);
}

.megamenu__panel::after {
    position: absolute;
    bottom: 98%;
    left: 12px;
    border-width: 10px;
    border-style: solid;
    border-color: transparent;
    border-bottom-color: var(--color-white);
    border-top: 0;
    content: '';
}

.megamenu__panel::before {
    position: absolute;
    bottom: 100%;
    left: 12px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent;
    border-bottom-color: #D9D9D9;
    border-top: 0;
    content: '';
}

.megamenu__panel--active {
    display: block;
}
